html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-check-input {
    appearance: auto !important;
    -webkit-appearance: auto !important;
}

.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px black;
    transition: all 0.4s ease-in-out;
}

a {
    text-decoration: none;
}

.hover-link:hover {
    color: #0d6efd;
    text-decoration: underline;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}