@page
@model SteamShelf.Pages.GamesModel
@{
    ViewData["Title"] = "Games";
    bool isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
}

<div class="text-center">
    @if (!isAuthenticated)
    {
        <a href="/login">
            <img src="~/images/sits_02.png" alt="Sign in through Steam" />
        </a>
    }
    else
    {
        @if (!isAuthenticated)
        {
            <a href="/login">
                <img src="~/images/sits_02.png" alt="Sign in through Steam" />
            </a>
        }
        else
        {
            <h1>Your Steam Games</h1>

            @if (Model.SteamOwnedGames == null)
            {
                <p>You have no games or you are not logged in.</p>
            }
            else
            {
                <ul class="list-group">
                    @foreach (var game in Model.SteamOwnedGames)
                    {
                        <li class="list-group-item d-flex align-items-center">
                            <div>
                                <img src="@game.HeaderImageUrl" alt="Game Cover" style="width: 64px; height: 32px; margin-right: 10px;" />
                                <strong>@game.Name</strong><br />
                            </div>
                        </li>
                    }
                </ul>
            }
        }
    }
</div>