@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    bool isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
}

<div class="text-center">
    @if (!isAuthenticated)
    {
        <a href="/login">
            <img src="~/images/sits_02.png" alt="Sign in through Steam" />
        </a>
    }
    else
    {
        <h1 class="display-4">Welcome, @Model.SteamPlayer?.personaname</h1>
        <a class="btn btn-danger" href="/logout">Logout</a>
    }
</div>
